<ul>
  <div class="tree" *ngFor="let parent of tree">
    <button
      #btn 
      (click)="showItems(drop,btn)" 
      class="tree__dropbtn">
    </button>
    <input
      #input
      (change)="changeStatus(parent,input)"
      class="tree__checkbox"
      id="{{parent.label}}" 
      type="checkbox"
      [checked]="state.checkedBoxes[parent.label]">
    <label for="{{parent.label}}">{{parent.label}}</label>

    <div #drop class="tree__dropdown">
      <div *ngFor="let child of parent.children">
        <input
          #input
          (change)="changeStatus(child, input)"
          class="tree__checkbox"
          id="{{child.label}}" 
          type="checkbox"
          [checked]="state.checkedBoxes[child.label]">
        <label for="{{child.label}}">{{child.label}}</label>
      </div>
    </div>
  </div>
</ul>
