.tree {
  display: flex;

  &__dropbtn {
    background: transparent;
    border: none;
    position: relative;
    display: inline-block;
    height: 14px;

    margin: 1px 3px 3px;
    padding: 0 10px;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      right: 5px;
      width: 0;
      height: 0;
      border-top: 5px solid rgb(0, 0, 0);
      border-bottom: 0 solid rgb(0, 0, 0);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      transition: border-bottom 0.1s, border-top 0.1s 0.1s;
    }

    &--anchor:after {
      border-top: 0 solid rgb(0, 0, 0);
      border-bottom: 5px solid rgb(0, 0, 0);
      transition: border-top 0.1s, border-bottom 0.1s 0.1s;
    }
  }

  &__dropdown {
    margin-top: 1em;
    display: none;

    &--showDropdown {
      display: block;
    }
  }

  &__checkbox {
    height: 14px;
    width: 14px;
  }
}
